<h1><%= @page_title = "View All Photos" -%></h1>
<div id="search">
<% form_tag({}, :method => "GET") do %>
  <%= text_field_tag(:search, (session[@list_name] || {})[:search]) %><%= submit_tag 'Search', :class => 'submit' %>
  <%= link_to "Clear", :search => "" %>
<% end %>
</div>
<% if @photo_pages.count != 0 -%>

  <%= admin_table({:columns =>[:trip_id, :user_id, :display, :last_updated],
    :list => @photos,
    :pages => @photo_pages,
    :list_action => :pending_list
  })%>

<% else -%>

  There are currently no Photos in the system.

<% end -%>



