<h1><%%= @page_title = "View All <%= class_name %>" -%></h1>
<div id="search">
<%% form_tag({}, :method => "GET") do %>
  <%%= text_field_tag(:search, (session[@list_name] || {})[:search]) %><%%= submit_tag 'Search', :class => 'submit' %>
  <%%= link_to "Clear", :search => "" %>
<%% end %>
</div>
<%% if @<%= singular_name %>_pages.count != 0 -%>

  <%%= admin_table({
    :columns =>[
                :name, :username, :last_updated,
               ],
    :list => @<%= plural_name %>,
    :pages => @<%= singular_name %>_pages
  })%>

<%% else -%>

  There are currently no <%= class_name %> in the system.

<%% end -%>
