<% @page_title = @reservation.name %>



<p>
name: <%= @reservation.name %>
</p>



<p>
name: <%= @reservation.name %>
</p>



<p>
email: <%= @reservation.email %>
</p>



<p>
telephone: <%= @reservation.telephone %>
</p>



<p>
trip: <%= @reservation.trip %>
</p>



<p>
male: <%= @reservation.male %>
</p>



<p>
female: <%= @reservation.female %>
</p>



<p>
display: <%= @reservation.display %>
</p>



<%= link_with_params "Go back", :action => 'list' %>

