<% @include_tinymce_script = true %>

<% form_for(banner, :url => {:id => params[:id]}, :html => {:method => "post", :multipart => true}) do |f| %>
  
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  
  <p>
    <%= f.label :quote %>
    <%= f.text_field :quote %>
  </p>
  
  <p>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </p>
  
  <p>
    <%= f.label :page %>
    <%= f.collection_select :page, BenefitBanner.pages, :to_s, :to_s %>
  </p>
  
  <p>
    <%= f.label :position %>
    <%= f.text_field :position %>
  </p>
  
  <p>
    <%= f.comprehensive_image_field :picture1_id %>
  </p>
  
  <p>
    <%= f.label :display %>
    <%= f.check_box :display, :class => "checkbox" %>
  </p>
  
  <p>
    <% if banner.new_record? %>
      <%= f.submit "Create", :class => 'submit' %>
    <% else %>
      <%= f.submit "Update", :class => 'submit' %>
    <% end %>
  </p>
  
<% end %>
