<%% @page_title = @<%= singular_name %>.name %>

<% for field in model_fields %>
<% if field.field_type == "image" %>
  <% pic_field = field.name.gsub("_id", "") %>
  <%% if @<%= file_name%>.has_<%=pic_field%>? %>
    <p>
    <%= field.name %>: <%%= scale_image_tag @<%= file_name %>.<%= pic_field %> %>
  </p>
  <%% end %>
<% elsif field.field_type == "document" %>
  <% doc_field = field.name.gsub("_id", "") %>
  <%% if @<%=file_name%>.has_<%=doc_field%>? %>
    <p>
    <%= field.name %>: <%%= link_to @<%= file_name %>.<%= doc_field %>.name, @<%= file_name %>.<%= doc_field %>.url %>
  </p>
  <%% end %>
<% else %>
<p>
<%= field.name %>: <%%= @<%= file_name %>.<%= field.name %> %>
</p>
<% end %>
<% end %>

<%%= link_with_params "Go back", :action => 'list' %>

