<% hide_right %>

<div style="float: right;">
  <%= image_tag "admin/invoice_address.gif" %>
</div>

<h1><%= @page_title = "Invoice" -%></h1>

<% if params[:printer_friendly] == "true" %>
  <%= link_to "Click here for a regular version", params.merge(:printer_friendly => false)%>
<% else %>
  <%= link_to "Click here for printer friendly version", params.merge(:printer_friendly => true)%>
<% end %>
<br />
<%= link_to "Click here to save invoice as a pdf", params.merge(:generate_invoice => "true") %>

<p>
  <strong><%= @booking.user.name %></strong>
</p>

<p>
<strong><%= "Invoice number: #{@booking.id}" %></strong><br />
<%= "Invoice date: #{@booking.created_at.strftime("%d/%m/%Y")}" %><br />
</p>

<table>
  <tr>
    <th>Description</th><th>Total</th>
  </tr>  
  <% for booking_item in @booking.booking_items %>
    <tr>
      <td><%= booking_item.first_name %> <%= booking_item.last_name %> - <%= booking_item.trip.name %></td>
      <td><%= number_to_currency booking_item.subtotal, :unit => "&pound;" %></td>
    </tr>
  <% end %>
</table>

<table>
  <tr>
    <td>Booking Fee</td>
    <td><%= number_to_currency @booking.booking_fee, :unit => "&pound;" %></td>
  </tr>
  <tr>
    <td>Invoice Total</td>
    <td><%= number_to_currency @booking.total, :unit => "&pound;" %></td>
  </tr>
</table>

<h2>Making cash deposits into our bank account</h2>
<% if @booking.booking_type.include?("cash") && @booking.booking_amount && @booking.booking_amount > 0 %>
  <p>Either pay the full amount or the deposit of <%= number_to_currency @booking.booking_amount, :unit => "&pound;" %>.</p>
<% end %>
<p>
When at the bank please complete the paying-in slip with the following details:<br /><br />
Date: <strong>Today’s date</strong> (e.g. 27/08/09)"<br />
Bank: <strong>HSBC Bank plc / <del>first direct</del></strong> (delete first direct)<br />
Account Holding Branch: <strong>Leeds City Branch</strong><br />
Customer’s Name: <strong>Don’t be a tourist Ltd</strong><br />
Name and address of person paying in (if not customer):<br />
<strong>Write: ‘Please include reference number _________ ’ (and enter your invoice number)</strong><br />
Sorting Code Number: <strong>40-27-15</strong> Account number: <strong>84096274</strong><br />
Finally, write in the amount you are paying in.
</p>

<ul>
<li>If you have an account with HSBC use your card to access the paying-in machine. If you don’t have an HSBC account, ask a member of staff for help.</li>
<li>Keep the receipt from the machine or the cashier as proof of payment.</li>
<li>We check our bank account daily. When we see your payment, we will email you your Confirmation Invoice immediately.</li>
</ul>

<font size="2px">All the above goods and services are subject to our terms and conditions, a copy of which is available on our website or on request.</font>


</p>

<% content_for :right do %>
<% end %>
