<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
        <title>Document Selector</title>
        <script type="text/javascript" src="/javascripts/tiny_mce/tiny_mce_popup.js"></script>
        <script type="text/javascript" src="/javascripts/tiny_mce/utils/mctabs.js"></script>
        <script type="text/javascript" src="/javascripts/tiny_mce/utils/form_utils.js"></script>
        <script type="text/javascript" src="/javascripts/tiny_mce/utils/validate.js"></script>
        <script type="text/javascript" src="/javascripts/tiny_mce/utils/editable_selects.js"></script>
        <script type="text/javascript" src="/javascripts/tiny_mce/plugins/tmediaimage/js/image.js"></script>
        <link href="css/advimage.css" rel="stylesheet" type="text/css" />
        <base target="_self" />
        <script type="text/javascript">
          insertDocument = function(url) {
            tinyMCE.activeEditor.dom.create(tinyMCE.activeEditor.getBody(), 'img', {src: url});
            tinyMCEPopup.close();
          }
        </script>
</head>
<body>
<%= link_to 'Back', :action => :dialog %>
<% form_for(@document, :url => "", :html => {:method => "post", :multipart => true}) do |f| %>
<p>
<%= f.label :file_data, "File" %>
<%= f.file_field(:file_data) %>
</p>
<p>
<%= f.label :description %>
<%= f.text_field(:description) %>
</p>
<%= f.submit "Upload" %>
<% end %>
</body>
</html>
