<% @page_title = "Special Offers" %>

<h1><%= @page_title %></h1>

<div class="special_offers">

  <span class="highlight">Guarantee places on your favourite trips and save money by booking early.</span>

  <%= image_tag "offers_early_bird.gif", :hspace=>"0", :vspace=>"0", :border=>"0", :alt=>"Early Bird Deals" %>

  <p class="small">
    <strong>Get 25% off all trips</strong> when you book over 4 weeks in advance.
    <br />
    (8 weeks in advance for overnight or multi-night trips - i.e. 1 night or more)
  </p>
  <p class="small">
    <strong>Get 15% off all trips</strong> when you book over 2 weeks in advance.
    <br />
    (4 weeks in advance for overnight or multi-night trips - i.e. 1 night or more)
  </p>
  <div class="hr"><hr></div>

  <!--
  <span class="highlight">As a welcome we'll give you money to spend on your first booking.</span>
  <%= image_tag "offers_give_us_try.gif", :hspace=>"0", :vspace=>"0", :border=>"0", :alt=>"Come on give us a try" %>
  <p><strong>SAVE &pound;6</strong> off your first booking when you spend over &pound;30
  <br />
  or
  <br />
  <strong>SAVE &pound;20</strong> off your first booking when you spend over &pound;80</p>
  <div class="hr"><hr></div>

  <span class="highlight">Love travelling? The more you travel with us, the more you travel for free!</span>
  <%= image_tag "offers_combo_deals.gif", :hspace=>"0", :vspace=>"0", :border=>"0", :alt=>"Combo Deals" %>
  <p>
  Buy any 4 days of trips, get <strong>1 extra day free</strong>.</p>
  <p>Buy any 7 days of trips, get <strong>2 extra days free</strong>. </p>
  <div class="hr"><hr></div>

  <span class="highlight">Share the good times with your friends and save cash.</span>
  <%= image_tag "offers_mates_rates.gif", :hspace=>"0", :vspace=>"0", :border=>"0", :alt=>"Mates rates" %>
  <p>
  Pay for 3, <strong>4th friend goes half price</strong>.</p>
  <p>Pay for 5, <strong>6th friend goes free</strong>. </p>
  <div class="hr"><hr></div>
  -->

  <span class="highlight">Watch out for more special offers and awesome deals on your next trip with us.</span>
  <%= image_tag "offers_see_again.gif", :hspace=>"0", :vspace=>"0", :border=>"0", :alt=>"Nice to see you again" %>
  <div class="hr"><hr></div>

  <h2>Terms &amp; Conditions</h2>
  <ul>
    <li> You cannot combine the above deals and offers.</li>
    <li>They cannot be combined with any other offer/promotion.</li>
    <li>Special Offers will be applied at time of payment.</li>
    <li>Combo Deals The lowest-priced days are free. You must book all trips at the same time. Once booked, the trips cannot be shared.</li>
    <li>Mates Rates The lowest-priced place is half-price/free. One person must book for all friends at the same time. All friends must travel on the same trip at the same time. </li>
    <li>'Give us a try' Welcome Offer For new bookers only. </li>
  </ul>

</div>
